In [3]:
import numpy as pd
import pandas as pd

In [2]:
a=[2, 7, 5, 8, 3]
b=pd.Series(a)

In [3]:
b

0    2
1    7
2    5
3    8
4    3
dtype: int64

In [4]:
b=pd.Series(a, index=['первый', 'второй', 'третий', 'четвёртый', 'пятый'])

In [5]:
a

[2, 7, 5, 8, 3]

In [6]:
b

первый       2
второй       7
третий       5
четвёртый    8
пятый        3
dtype: int64

In [7]:
from datetime import date

In [8]:
ind=[date(y, m, d) for y, m, d in [(2018, 1, 15), (2018, 1, 17), (2018, 1, 18), (2018, 1, 21), (2018, 1, 31)]]

In [9]:
b=pd.Series(a, ind, index=['первый', 'второй', 'третий', 'четвёртый', 'пятый'])

TypeError: __init__() got multiple values for argument 'index'

In [10]:
b=pd.Series((a, ind), index=['первый', 'второй', 'третий', 'четвёртый', 'пятый'])

ValueError: Length of passed values is 2, index implies 5.

In [11]:
b

первый       2
второй       7
третий       5
четвёртый    8
пятый        3
dtype: int64

In [12]:
b=pd.Series(a, index=ind)

In [13]:
b

2018-01-15    2
2018-01-17    7
2018-01-18    5
2018-01-21    8
2018-01-31    3
dtype: int64

In [14]:
b.index[2].year, b.index.month, b.index.day

AttributeError: 'Index' object has no attribute 'month'

In [15]:
b.index[2].year, b.index[2].month, b.index[2].day

(2018, 1, 18)

In [16]:
b.index=pd.to_datetime(b.index, format='%Y-%m-%d')

In [17]:
b.index

DatetimeIndex(['2018-01-15', '2018-01-17', '2018-01-18', '2018-01-21',
               '2018-01-31'],
              dtype='datetime64[ns]', freq=None)

In [18]:
b=pd.Series(dtype=np.float64)

NameError: name 'np' is not defined

In [19]:
import numpy as np

In [20]:
b=pd.Series(dtype=np.float64)

In [21]:
b

Series([], dtype: float64)

In [22]:
b=pd.Series(a, index=ind, dtype=np.float64)

In [23]:
b

2018-01-15    2.0
2018-01-17    7.0
2018-01-18    5.0
2018-01-21    8.0
2018-01-31    3.0
dtype: float64

In [24]:
b.index

Index([2018-01-15, 2018-01-17, 2018-01-18, 2018-01-21, 2018-01-31], dtype='object')

In [25]:
b.values

array([2., 7., 5., 8., 3.])

In [26]:
b.head

<bound method NDFrame.head of 2018-01-15    2.0
2018-01-17    7.0
2018-01-18    5.0
2018-01-21    8.0
2018-01-31    3.0
dtype: float64>

In [27]:
b.head(3)

2018-01-15    2.0
2018-01-17    7.0
2018-01-18    5.0
dtype: float64

In [28]:
b.tail(2)

2018-01-21    8.0
2018-01-31    3.0
dtype: float64

In [29]:
b.to_pickle('b.pkl')

In [30]:
b2=pd.read_pickle('b.pkl')

In [31]:
b2

2018-01-15    2.0
2018-01-17    7.0
2018-01-18    5.0
2018-01-21    8.0
2018-01-31    3.0
dtype: float64

Датафреймы

In [35]:
df=pd.DataFrame({'Col1':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
                 'Col2':[1, 3, 5, 7, 9, 11, 13, 15]}, columns=['Col1', 'Col2'])
df

  Col1  Col2
0    a     1
1    b     3
2    c     5
3    d     7
4    e     9
5    f    11
6    g    13
7    h    15

In [37]:
df.describe?

Signature:
df.describe(
    percentiles=None,
    include=None,
    exclude=None,
    datetime_is_numeric=False,
) -> ~FrameOrSeries
Docstring:
Generate descriptive statistics.

Descriptive statistics include those that summarize the central
tendency, dispersion and shape of a
dataset's distribution, excluding ``NaN`` values.

Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided. Refer to the notes
below for more detail.

Parameters
----------
percentiles : list-like of numbers, optional
    The percentiles to include in the output. All should
    fall between 0 and 1. The default is
    ``[.25, .5, .75]``, which returns the 25th, 50th, and
    75th percentiles.
include : 'all', list-like of dtypes or None (default), optional
    A white list of data types to include in the result. Ignored
    for ``Series``. Here are the options:

    - 'all' : All columns of the input will be included in the output.
    - A list-like of dtypes : Limits the results to the
      provided data types.
      To limit the result to numeric types submit
      ``numpy.number``. To limit it instead to object columns submit
      the ``numpy.object`` data type. Strings
      can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      select pandas categorical columns, use ``'category'``
    - None (default) : The result will include all numeric columns.
exclude : list-like of dtypes or None (default), optional,
    A black list of data types to omit from the result. Ignored
    for ``Series``. Here are the options:

    - A list-like of dtypes : Excludes the provided data types
      from the result. To exclude numeric types submit
      ``numpy.number``. To exclude object columns submit the data
      type ``numpy.object``. Strings can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      exclude pandas categorical columns, use ``'category'``
    - None (default) : The result will exclude nothing.
datetime_is_numeric : bool, default False
    Whether to treat datetime dtypes as numeric. This affects statistics
    calculated for the column. For DataFrame input, this also
    controls whether datetime columns are included by default.

    .. versionadded:: 1.1.0

Returns
-------
Series or DataFrame
    Summary statistics of the Series or Dataframe provided.

See Also
--------
DataFrame.count: Count number of non-NA/null observations.
DataFrame.max: Maximum of the values in the object.
DataFrame.min: Minimum of the values in the object.
DataFrame.mean: Mean of the values.
DataFrame.std: Standard deviation of the observations.
DataFrame.select_dtypes: Subset of a DataFrame including/excluding
    columns based on their dtype.

Notes
-----
For numeric data, the result's index will include ``count``,
``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
upper percentiles. By default the lower percentile is ``25`` and the
upper percentile is ``75``. The ``50`` percentile is the
same as the median.

For object data (e.g. strings or timestamps), the result's index
will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
is the most common value. The ``freq`` is the most common value's
frequency. Timestamps also include the ``first`` and ``last`` items.

If multiple object values have the highest count, then the
``count`` and ``top`` results will be arbitrarily chosen from
among those with the highest count.

For mixed data types provided via a ``DataFrame``, the default is to
return only an analysis of numeric columns. If the dataframe consists
only of object and categorical data without any numeric columns, the
default is to return an analysis of both the object and categorical
columns. If ``include='all'`` is provided as an option, the result
will include a union of attributes of each type.

The `include` and `exclude` parameters can be used to limit
which columns in a ``DataFrame`` are analyzed for the output.
The parameters are ignored when analyzing a ``Series``.

Examples
--------
Describing a numeric ``Series``.

>>> s = pd.Series([1, 2, 3])
>>> s.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

Describing a categorical ``Series``.

>>> s = pd.Series(['a', 'a', 'b', 'c'])
>>> s.describe()
count     4
unique    3
top       a
freq      2
dtype: object

Describing a timestamp ``Series``.

>>> s = pd.Series([
...   np.datetime64("2000-01-01"),
...   np.datetime64("2010-01-01"),
...   np.datetime64("2010-01-01")
... ])
>>> s.describe(datetime_is_numeric=True)
count                      3
mean     2006-09-01 08:00:00
min      2000-01-01 00:00:00
25%      2004-12-31 12:00:00
50%      2010-01-01 00:00:00
75%      2010-01-01 00:00:00
max      2010-01-01 00:00:00
dtype: object

Describing a ``DataFrame``. By default only numeric fields
are returned.

>>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
...                    'numeric': [1, 2, 3],
...                    'object': ['a', 'b', 'c']
...                   })
>>> df.describe()
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Describing all columns of a ``DataFrame`` regardless of data type.

>>> df.describe(include='all')  # doctest: +SKIP
       categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              f      NaN      a
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
25%            NaN      1.5    NaN
50%            NaN      2.0    NaN
75%            NaN      2.5    NaN
max            NaN      3.0    NaN

Describing a column from a ``DataFrame`` by accessing it as
an attribute.

>>> df.numeric.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: numeric, dtype: float64

Including only numeric columns in a ``DataFrame`` description.

>>> df.describe(include=[np.number])
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Including only string columns in a ``DataFrame`` description.

>>> df.describe(include=[object])  # doctest: +SKIP
       object
count       3
unique      3
top         a
freq        1

Including only categorical columns from a ``DataFrame`` description.

>>> df.describe(include=['category'])
       categorical
count            3
unique           3
top              f
freq             1

Excluding numeric columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.number])  # doctest: +SKIP
       categorical object
count            3      3
unique           3      3
top              f      a
freq             1      1

Excluding object columns from a ``DataFrame`` description.

>>> df.describe(exclude=[object])  # doctest: +SKIP
       categorical  numeric
count            3      3.0
unique           3      NaN
top              f      NaN
freq             1      NaN
mean           NaN      2.0
std            NaN      1.0
min            NaN      1.0
25%            NaN      1.5
50%            NaN      2.0
75%            NaN      2.5
max            NaN      3.0
File:      c:\anaconda\lib\site-packages\pandas\core\generic.py
Type:      method

In [38]:
df.describe()

            Col2
count   8.000000
mean    8.000000
std     4.898979
min     1.000000
25%     4.500000
50%     8.000000
75%    11.500000
max    15.000000

In [39]:
df.loc[2, :]

Col1    c
Col2    5
Name: 2, dtype: object

In [40]:
df.iloc(:, :)

SyntaxError: invalid syntax (<ipython-input-40-a0f7eb30e5ee>, line 1)

In [41]:
df.query('Col1' =='b')

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [42]:
df.query('Col1 =="b"')

  Col1  Col2
1    b     3

In [43]:
df.query('Col2 >10')

  Col1  Col2
5    f    11
6    g    13
7    h    15

In [44]:
s=df['Col1']
s

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
Name: Col1, dtype: object

In [45]:
type(s)

pandas.core.series.Series

In [46]:
df=pd.DataFrame(s)

In [47]:
df

  Col1
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h

In [48]:
df.sample(n=2)

  Col1
2    c
6    g

In [49]:
%%time
df.to_csv('test.csv', sep=';', index=False)

Wall time: 13 ms

In [50]:
%%time
df_new=pd.read_csv('test.csv', sep=';')
df_new

Wall time: 21.9 ms

  Col1
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h

In [51]:
df.to_excel('Datas.xml', sep='\t')

TypeError: to_excel() got an unexpected keyword argument 'sep'

In [52]:
df.to_excel('Datas.xml')

ValueError: No engine for filetype: 'xml'

In [53]:
df.to_excel?

Signature:
df.to_excel(
    excel_writer,
    sheet_name='Sheet1',
    na_rep='',
    float_format=None,
    columns=None,
    header=True,
    index=True,
    index_label=None,
    startrow=0,
    startcol=0,
    engine=None,
    merge_cells=True,
    encoding=None,
    inf_rep='inf',
    verbose=True,
    freeze_panes=None,
) -> None
Docstring:
Write object to an Excel sheet.

To write a single object to an Excel .xlsx file it is only necessary to
specify a target file name. To write to multiple sheets it is necessary to
create an `ExcelWriter` object with a target file name, and specify a sheet
in the file to write to.

Multiple sheets may be written to by specifying unique `sheet_name`.
With all data written to the file it is necessary to save the changes.
Note that creating an `ExcelWriter` object with a file name that already
exists will result in the contents of the existing file being erased.

Parameters
----------
excel_writer : str or ExcelWriter object
    File path or existing ExcelWriter.
sheet_name : str, default 'Sheet1'
    Name of sheet which will contain DataFrame.
na_rep : str, default ''
    Missing data representation.
float_format : str, optional
    Format string for floating point numbers. For example
    ``float_format="%.2f"`` will format 0.1234 to 0.12.
columns : sequence or list of str, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of string is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, optional
    Column label for index column(s) if desired. If not specified, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the DataFrame uses MultiIndex.
startrow : int, default 0
    Upper left cell row to dump data frame.
startcol : int, default 0
    Upper left cell column to dump data frame.
engine : str, optional
    Write engine to use, 'openpyxl' or 'xlsxwriter'. You can also set this
    via the options ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
    ``io.excel.xlsm.writer``.
merge_cells : bool, default True
    Write MultiIndex and Hierarchical Rows as merged cells.
encoding : str, optional
    Encoding of the resulting excel file. Only necessary for xlwt,
    other writers support unicode natively.
inf_rep : str, default 'inf'
    Representation for infinity (there is no native representation for
    infinity in Excel).
verbose : bool, default True
    Display more information in the error logs.
freeze_panes : tuple of int (length 2), optional
    Specifies the one-based bottommost row and rightmost column that
    is to be frozen.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
ExcelWriter : Class for writing DataFrame objects into excel sheets.
read_excel : Read an Excel file into a pandas DataFrame.
read_csv : Read a comma-separated values (csv) file into DataFrame.

Notes
-----
For compatibility with :meth:`~DataFrame.to_csv`,
to_excel serializes lists and dicts to strings before writing.

Once a workbook has been saved it is not possible write further data
without rewriting the whole workbook.

Examples
--------

Create, write to and save a workbook:

>>> df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                    index=['row 1', 'row 2'],
...                    columns=['col 1', 'col 2'])
>>> df1.to_excel("output.xlsx")  # doctest: +SKIP

To specify the sheet name:

>>> df1.to_excel("output.xlsx",
...              sheet_name='Sheet_name_1')  # doctest: +SKIP

If you wish to write to more than one sheet in the workbook, it is
necessary to specify an ExcelWriter object:

>>> df2 = df1.copy()
>>> with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='Sheet_name_1')
...     df2.to_excel(writer, sheet_name='Sheet_name_2')

ExcelWriter can also be used to append to an existing Excel file:

>>> with pd.ExcelWriter('output.xlsx',
...                     mode='a') as writer:  # doctest: +SKIP
...     df.to_excel(writer, sheet_name='Sheet_name_3')

To set the library that is used to write the Excel file,
you can pass the `engine` keyword (the default engine is
automatically chosen depending on the file extension):

>>> df1.to_excel('output1.xlsx', engine='xlsxwriter')  # doctest: +SKIP
File:      c:\anaconda\lib\site-packages\pandas\core\generic.py
Type:      method

In [54]:
df.to_excel('Datas.xlsx')

In [5]:
authors=pd.DataFrame({'author_id':[1, 2, 3], 'author_name':['Pushkin', 'Tolstoy', "Dostoevsky"]}, columns=['author_id', 'author_name'])

In [4]:
authors

NameError: name 'authors' is not defined

In [6]:
books=pd.DataFrame({'author_id':[2, 3, 3, 4], 'book_title':['War and Peace', 'The Idiot', 'Crime and Punishment', 'Fathers and Sons']})
books

   author_id            book_title
0          2         War and Peace
1          3             The Idiot
2          3  Crime and Punishment
3          4      Fathers and Sons

Соединяем по айди датафреймы

In [7]:
df1=pd.merge(authors, books, on='author_id', how='left')
df1

   author_id author_name            book_title
0          1     Pushkin                   NaN
1          2     Tolstoy         War and Peace
2          3  Dostoevsky             The Idiot
3          3  Dostoevsky  Crime and Punishment

In [61]:
df1=pd.merge(authors, books, on='author_id', how='right')
df1

   author_id author_name            book_title
0          2     Tolstoy         War and Peace
1          3  Dostoevsky             The Idiot
2          3  Dostoevsky  Crime and Punishment
3          4         NaN      Fathers and Sons

In [9]:
df4=pd.merge(authors, books, on='author_id', how='outer')
df4

   author_id author_name            book_title
0          1     Pushkin                   NaN
1          2     Tolstoy         War and Peace
2          3  Dostoevsky             The Idiot
3          3  Dostoevsky  Crime and Punishment
4          4         NaN      Fathers and Sons

In [114]:
df4.loc[df4['book_title']]

KeyError: "None of [Index(['Нет данных', 'War and Peace', 'The Idiot', 'Crime and Punishment',\n       'Fathers and Sons'],\n      dtype='object')] are in the [index]"

In [115]:
df4.loc[df4['book_title'].isnull(), :]

Empty DataFrame
Columns: [author_id, author_name, book_title, quantity]
Index: []

In [66]:
df4.loc[df4[book_title].isnull(), :]

NameError: name 'book_title' is not defined

In [8]:
df4['book_title']=df4['book_title'].fillna('Нет данных')

NameError: name 'df4' is not defined

In [10]:
df4

   author_id author_name            book_title
0          1     Pushkin                   NaN
1          2     Tolstoy         War and Peace
2          3  Dostoevsky             The Idiot
3          3  Dostoevsky  Crime and Punishment
4          4         NaN      Fathers and Sons

In [11]:
df4['author_name']=df4['author_name'].fillna('Неизвестный автор')

In [76]:
df4

   author_id        author_name            book_title
0          1            Pushkin            Нет данных
1          2            Tolstoy         War and Peace
2          3         Dostoevsky             The Idiot
3          3         Dostoevsky  Crime and Punishment
4          4  Неизвестный автор      Fathers and Sons

In [77]:
df4.loc[(df4['author_name'] !='Неизвестный автор') & (df4['book_title'] !='Нет данных'), 'quantity'] = 1

In [78]:
df4

   author_id        author_name            book_title  quantity
0          1            Pushkin            Нет данных       NaN
1          2            Tolstoy         War and Peace       1.0
2          3         Dostoevsky             The Idiot       1.0
3          3         Dostoevsky  Crime and Punishment       1.0
4          4  Неизвестный автор      Fathers and Sons       NaN

In [85]:
df4['quantity'].fillna(0, inplace=True)

In [86]:
df4

   author_id        author_name            book_title  quantity
0          1            Pushkin            Нет данных       0.0
1          2            Tolstoy         War and Peace       1.0
2          3         Dostoevsky             The Idiot       1.0
3          3         Dostoevsky  Crime and Punishment       1.0
4          4  Неизвестный автор      Fathers and Sons       0.0

In [87]:
df4['quantity']

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: quantity, dtype: float64

In [89]:
df4['quantity', dtype='str']

SyntaxError: invalid syntax (<ipython-input-89-ffe66677bafd>, line 1)

In [90]:
df4['quantity'].astype('str')

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: quantity, dtype: object

In [91]:
df4['quantity'].astype('int')

0    0
1    1
2    1
3    1
4    0
Name: quantity, dtype: int32

In [92]:
df4['quantity']=df4['quantity'].astype('int')

In [93]:
df4

   author_id        author_name            book_title  quantity
0          1            Pushkin            Нет данных         0
1          2            Tolstoy         War and Peace         1
2          3         Dostoevsky             The Idiot         1
3          3         Dostoevsky  Crime and Punishment         1
4          4  Неизвестный автор      Fathers and Sons         0

In [94]:
df4['price']=500

In [95]:
df4

   author_id        author_name            book_title  quantity  price
0          1            Pushkin            Нет данных         0    500
1          2            Tolstoy         War and Peace         1    500
2          3         Dostoevsky             The Idiot         1    500
3          3         Dostoevsky  Crime and Punishment         1    500
4          4  Неизвестный автор      Fathers and Sons         0    500

In [117]:
df4=df.drop('price', axis=1)
df4

KeyError: "['price'] not found in axis"

In [97]:
df

  Col1
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h

In [98]:
df4

   author_id        author_name            book_title  quantity  price
0          1            Pushkin            Нет данных         0    500
1          2            Tolstoy         War and Peace         1    500
2          3         Dostoevsky             The Idiot         1    500
3          3         Dostoevsky  Crime and Punishment         1    500
4          4  Неизвестный автор      Fathers and Sons         0    500

In [99]:
df4=df.drop('price', axis=0)
df4

KeyError: "['price'] not found in axis"

In [100]:
df4=df.drop('price')
df4

KeyError: "['price'] not found in axis"

In [101]:
df4=df4.drop('price', axis=1)
df4

   author_id        author_name            book_title  quantity
0          1            Pushkin            Нет данных         0
1          2            Tolstoy         War and Peace         1
2          3         Dostoevsky             The Idiot         1
3          3         Dostoevsky  Crime and Punishment         1
4          4  Неизвестный автор      Fathers and Sons         0

In [126]:
df4=df4.sort_values(by='quantity', ascending=False).head(3).reset_index()
df4

ValueError: cannot insert level_0, already exists

In [103]:
df4.reset_index(drop=True)

   author_id        author_name            book_title  quantity
0          1            Pushkin            Нет данных         0
1          2            Tolstoy         War and Peace         1
2          3         Dostoevsky             The Idiot         1
3          3         Dostoevsky  Crime and Punishment         1
4          4  Неизвестный автор      Fathers and Sons         0

In [12]:
df5=pd.DataFrame({'author_id':[3, 5], 'author_name':['Dostoevsky', 'Чехов'],
                 'book_title': ['The Gambler', 'Три сестры'], 'quantity': [1, 1]},
                columns=['author_id', 'author_name', 'book_title', 'quantity'])
df5

   author_id author_name   book_title  quantity
0          3  Dostoevsky  The Gambler         1
1          5       Чехов   Три сестры         1

In [13]:
df6=pd.concat([df4, df5], axis=0, ignore_index=True)
df6

   author_id        author_name            book_title  quantity
0          1            Pushkin                   NaN       NaN
1          2            Tolstoy         War and Peace       NaN
2          3         Dostoevsky             The Idiot       NaN
3          3         Dostoevsky  Crime and Punishment       NaN
4          4  Неизвестный автор      Fathers and Sons       NaN
5          3         Dostoevsky           The Gambler       1.0
6          5              Чехов            Три сестры       1.0

In [106]:
df6['price']=np.arange(500, 100, np.random.randint(70))

ValueError: Length of values (0) does not match length of index (7)

In [19]:
df6['price']=np.random.randint(500, 1500)

In [18]:
import numpy as np

In [109]:
df6['author_name', 'book_title']

KeyError: ('author_name', 'book_title')

In [111]:
df6['price'].std()

0.0

In [112]:
df6['price'].unique()

array([1161], dtype=int64)

In [113]:
df6['price'].nunique()

1

In [14]:
print(df6.groupby('author_id').max()[['price']].to_markdown())

KeyError: "None of [Index(['price'], dtype='object')] are in the [columns]"

In [132]:
pip install tabulate

Requirement already satisfied: tabulate in c:\anaconda\lib\site-packages (0.8.7)
Note: you may need to restart the kernel to use updated packages.

In [28]:
print(df6.groupby('author_id').max()[['price']].to_markdown())

AttributeError: 'float' object has no attribute 'groupby'

In [32]:
df6

600.0

TypeError: 'float' object is not subscriptable